.top-bar-head {
    border-bottom: solid 1px black;
    background-color: $primary-color;
}


label {
    font-weight: bold;
}

.whole-page-row {
    @include for-phone-only {
        display: flex;
        flex-flow: column-reverse;
    }
}
